@import url(colors.css);
@import url(../Assets/fonts/fonts.css);


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, body {
    scroll-snap-type: y mandatory;
}

section {
    scroll-snap-align: start;
}

.welcome {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 3.9em;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    background-image: url(../Assets/img/dark_creepy_scary_horror_evil_2560x1440.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

.welcome::before {
    content: '';
    position: absolute;
    background: var(--black-linear);
    width: 100%;
    height: 100vh;
    opacity: 90%;
    filter: invert(5%);
    z-index: 1;
    animation: garays 10s infinite alternate;
    animation-delay: 5s;
}

@keyframes garays {
    1.33%, 0% {
        filter: invert(10%);
    }
    100% {
        background: var(--black-linear);
    }
}


.welcome_main_title {
    position: relative;
    z-index: 6;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.welcome_icon img {
    position: relative;
    top: 0.2em;
    width: 100px;
    height: 100px;  
}

.welcome_title {
    background-image: var(--title);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: normal;
    font-style: normal;
    transition: ease-in-out 800ms;
    letter-spacing: 0.2em;
    font-family: var(--Macabre);
}

.welcome_title:hover {
    filter: grayscale(100);
    transition: ease-in-out 500ms;
}

.welcome_main_button {
    z-index: 6;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.fa-arrow-down-wide-short {
    color: var(--white);
    font-size: 0.5em;
    margin-top: 1em;
    margin-bottom: 1em;
    cursor: pointer;
    transition: 300ms ease-in-out 300ms;
}

.fa-arrow-down-wide-short:hover {
    transform: scale(1.5);
    filter: drop-shadow(5px 5px 2px var(--white));
}

.welcome_main_button a {
    font-size: 0.5em;
    text-decoration: none;
    border: 2px solid var(--red);
    padding: 7px 25px;
    color: var(--white);
    transition: ease-in-out 500ms;
    font-family: var(--Fjalla);
}

.welcome_main_button a:hover {
    filter: grayscale(100);
    filter: drop-shadow(0px 15px 2px var(--white));
    transition: ease-in-out 500ms;
}

.welcome_skw_main {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    z-index: 4;
}

.welcome_skw-p {
    position: relative;
    bottom: -100%;
    left: 50%;
    width: 100%;
    height: 500px;
    transform: skewY(-15deg);
    transform-origin: top left;
    z-index: 4;
    background: var(--skwp);
}

.welcome_skw-s {
    position: relative;
    right: 50%;
    bottom: -100%;
    width: 100%;
    height: 500px;
    transform: skewY(15deg);
    transform-origin: top right;
    z-index: 3;
    background: var(--skwp);
} 

.menu-sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    width: 100%;
    color: var(--white);
    font-family: var(--Oswald);
    background: var(--skwp);
    z-index: 9999;
}

ul {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    list-style: none;
    cursor: help;
}

ul i {
    padding: 0 0.7em;
}

.logo {
    position: relative;
    left: 1.2em;
}

.logo::before {
    content: '';
    right: 1em;
    position: absolute;
    width: 70px;
    height: 90px;
    border-radius: 100%;
    background: var(--black-linear);
    z-index: -1;
    filter: drop-shadow(10px 10px 10px var(--title));
}

.logo img {
    width: 60px;
    height: 90px;
    background-attachment: fixed;
    filter: drop-shadow(10px 10px 20px var(--red-gray));
}

.menu-sticky_content {
    display: none;
} 

.menu-sticky_bar {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    width: 50px;
    height: 10px;
}

.menu-sticky_bar a {
    margin: 2em;
    z-index: 999;
    display: none;
}

.menu-sticky_logo {
    cursor: pointer;
    display: flex;
    justify-content: center;
    position: relative;
    top: 1em;
    right: 1em;
    z-index: 7;
    display: none;
}

.fa-bars {
    font-size: 1.5em;
}


.prologo {
    display: flex;
    width: 100%;
    background: var(--gray);
    flex-wrap: wrap;
    margin: 0 auto;
    color: var(--white);
    flex-direction: row;
    gap: 1.4em;
    background: url(../Assets/img/bac.jpg) no-repeat, center center;
    background-size: cover;
    background-attachment: fixed;
}

.prologo::before {
    content: '';
    position: absolute;
    background: var(--skwp);
    width: 100%;
    height: 517px;
    opacity: 99%;
}

.prologo .prologo_main {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
}

.prologo_title {
    margin: 1em auto;
}

.prologo_title h1 {
    font-family: var(--Scare);
    background-image: var(--red-black);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: normal;
    font-style: normal;
    font-size: 3em;
    filter: drop-shadow(5px -5px 1px var(--red-shadow));
    transition: 500ms;
}


.prologo_title h1:hover {
    filter: drop-shadow(10px 10px 0px var(--red));
    transition: 500ms;
}

.prologo_text {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: min(100% - 1rem, 900px);
    text-align: left;
    z-index: 1;
}

.prologo_text h1 {
    font-family: var(--Fjalla);
    text-shadow: 10px 10px 10px var(--black);
}

.prologo_img img {
    position: relative;
    top: 0;
    max-width: 500px;
    height: 400px;
    filter: drop-shadow(0 0 10px var(--white));
    overflow-x: hidden;
}

.parallax_main {
    width: 100%;
    height: 50vh;
    background: url(../Assets/img/dark_creepy_scary_horror_evil_2560x1440.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
}

.parallax_main::before {
    content: '';
    position: absolute;
    background: var(--black-linear);
    width: 100%;
    height: 50vh;
    opacity: 90%;
    filter: invert(5%);
    z-index: 1;
    animation: garays 10s infinite alternate;
    animation-delay: 5s;
}

.enigma {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: var(--gray);
    flex-wrap: wrap;
    background: url(../Assets/img/cinese-democracy.jpg) no-repeat, center center;
    background-attachment: fixed;
    background-size: cover;
}

.enigma::after {
    content: '';
    position: absolute;
    background: var(--skwp);
    opacity: 99%;
    width: 100%;
    height: 100%;
}

.enigma_main {
    z-index: 2;
}

.enigma_content {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 4em;
    align-items: center;
    color: var(--white);
}

.enigma_content h1 {
    font-family: var(--Scare);
    background-image: var(--red-black);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: normal;
    font-style: normal;
    font-size: 3em;
    filter: drop-shadow(5px -5px 1px var(--red-shadow));
    transition: 500ms;
}

.enigma_content h1:hover {
    filter: drop-shadow(10px 10px 0px var(--red));
    transition: 500ms;
}

.enigma_text {
    position: relative;
    width: min(100% - 1rem, 700px);  
    line-height: 1.3em;   
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2em;
}

.form_button {
    display: flex;
    justify-content: center;
}

.form_input input {
    outline: none;
    border: none;
    background: transparent;
    border-bottom: 1px solid var(--white);
    color: var(--white);
}

.form_button button {
    font-size: 1em;
    text-decoration: none;
    border: 2px solid var(--red);
    color: var(--white);
    transition: ease-in-out 500ms;
    font-family: var(--Fjalla);
    background-color: transparent;
    padding: 7px 25px;
    cursor: pointer;
} 

.form_input {
    display: flex;
    align-items: center;
    justify-content: center;
}

audio {
    position: relative;
    top: 2em;
}

@media screen and (max-width: 992px) {

    .welcome_main_title {
        display: flex;
        flex-direction: column;
    }

    .menu-sticky ul {
        position: fixed;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        max-width: 365px;
        height: 100vh;
        justify-content: flex-start;
        position: relative;
        background: var(--skwp);
        left: -100%;
        transition: 800ms;
        top: -10px;
        z-index: 999999;
    } 

    .menu-sticky {
        height: 100px;
        z-index: 999999;
    }

    .menu-sticky ul span, ul {
        display: none;
    }

    .menu-sticky ul.open {
        left: 0;
        transition: 800ms;
    }

    .menu-sticky_logo {
        display: flex;
        z-index: 9999999;
    }

   .menu-sticky_bar a {
        display: block;
        z-index: 999999990;
    }

    .menu-sticky_content .menu-sticky_logo {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
    }

    .menu-sticky ul li {
        display: block;
        width: 100%;
        height: 50px;
        font-size: 1.2em;
        justify-content: center;
        padding: 0%;
        z-index: 9999999;
        margin-top: 2.5em;
    }

    .welcome_skw_main, .parallax_main  {
        display: none;
    }
}
