body{
  background: #313131;
  color: #fff;
}

::-webkit-scrollbar{
  width: 0;
}

section{
  height: 100vh;
}

h1{
  font-size: 90px;
  color: #E60000;
  font-weight: 600;
}

.arasaka-tower{
  height: 70%;
}

.triangle{
  position: absolute;
  bottom: 0;
  background-color: black;
  width: 100%;
  height: 80px;
}

.landpage{
  margin-top: 150px;
}

.tecArm{
  overflow-x: hidden;
}
